body{
    font-family:'Courier New', Courier, monospace;
    background-image: url('https://www.wallpapertip.com/wmimgs/81-810819_vector-background-for-website.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .navbar {
    overflow: hidden;
    background-color: none;
    font-size: x-large;
  }
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 80px;
    border-radius: 25px;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 25px;
  }
  .container {
    width: 400px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 25px;
  }
  input[type=text], input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  button:hover {
    opacity:1;
  }